@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
body {
  font-family: 'Exo 2', sans-serif;
  background-color: #EEEFF6;
}

.big_title {
  text-align: center;
}

.form {
  width: 600px;
  height: 580px;
  background-color: #FFFFFF;
  margin: 0 auto;
  padding: 20px;
}

.mb-30 {
  margin-bottom: 30px;
  display: flex;
}

.btn_base {
  background-color: #000000;
  color: white;
  padding: 8px 10px 8px 10px;
  margin-left: 300px;
  border: 0;
  border-radius: 3px;
}

.outils {
  margin-left: 40px;
}

.position {
  margin-left: 40px;
}

#name {
  margin-left: 65px;
}

#email {
  margin-left: 65px;
}

#satisfaction {
  margin-left: 60px;
  padding-right: 70px;

}
#coach {
  margin-left: 50px;
  padding: 4px 40px;
}
::placeholder {
  padding-right: 150px;
}

#experience {
  margin-left: 60px;
}

.left {
  margin-left: 90px;
}

.left01 {
  margin-left: 150px;
}
.name-px {
  margin-left: 240px;
}
.email-px {
  margin-left: 235px;
}
.outils-px {
  margin-left: 200px;
}
span{
  margin-left: 100px;
}
.span01{
  margin-left: 150px;
}